@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,600;1,700;1,900&display=swap");

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito';
    font-size: 1.1em;
}

/* Cuerpo de la página */
.router {
    background: radial-gradient(circle at 120.71% 50%, #fce2c1 0, #f8e4c1 3.33%, #f2e5c0 6.67%, #ede7c1 10%, #e7e9c2 13.33%, #e2eac4 16.67%, #dcecc7 20%, #d6edca 23.33%, #d0eece 26.67%, #cbefd3 30%, #c6f0d7 33.33%, #c1f0dc 36.67%, #bdf1e1 40%, #b9f1e7 43.33%, #b7f1ec 46.67%, #b5f1f1 50%, #b4f1f6 53.33%, #b5f0fa 56.67%, #b6efff 60%, #b8eeff 63.33%, #bcedff 66.67%, #c0ecff 70%, #c5ebff 73.33%, #cbe9ff 76.67%, #d1e8ff 80%, #d8e6ff 83.33%, #dee4ff 86.67%, #e5e2ff 90%, #ebe1ff 93.33%, #f1dfff 96.67%, #f7deff 100%);
}

/* ----------------Navbar--------------------- */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1.1em 1.1em 0em 1.1em;
}
.navbar a {
    margin-left: 1.5em;
    padding: 0.5em;
    font-size: 0.8em;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
.navbar a:hover {
    color: #4d024d;
}
.navbar img {
    width: 120px;
}

/* -------------------------Index------------------------- */

.index-picture {
    height: 75vh;
    width: 85%;
    border-radius: 30px;
    margin: auto;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgb(199, 188, 198)), url(./images/index_photo_2.jpg);
    background-position: right;
    background-size: cover;
}

.index-picture h2 {
    color: rgb(44, 18, 44);
    padding-top: 250px;
    padding-left: 50px;
    font-size: 1.8em;

}

/* Input Search */
.input-search form {
    padding-top: 200px;
    padding-left: 50px;
}

.input-search input{
    padding: 10px;
    width: 35%;
    border-radius: 10px;
    color: rgb(44, 18, 44);
    font-size: 0.9em;
    text-align: center;
  }
  
  .input-search input:focus {
    box-shadow: 0px 0px 10px rgb(44, 18, 44);
    outline: none
  }



/* ------------------------Log In------------------ */

.login-form {
    width: 40%;
    margin: auto;
    font-size: 0.8em;
}

/* Footer */

.footer {
    height: 100px;
}

/* -------------------------Profiles-------------------------- */
.container-cards {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    justify-content: center;
    gap: 15px;
}

.card {
    width: 450px;
    border: 1px solid black;
    border-radius: 10px;
    text-align: left;
    height: 70vh;
    font-size: 0.8em;
}
.card .other_Details {
    text-align: justify;
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 5rem;
    padding: 0px 5px;
}

/* ------------------------About Us----------------------- */

.about-us {
    width: 85%;
    background: linear-gradient(to bottom, rgba(255,255, 255, 0), rgba(255, 255, 255, 1)), url(./images/index_photo.jpg);
    background-position: center bottom;
    background-size: cover;
    border-radius: 30px;
    margin: auto;
    padding: 15px;
    font-size: 0.8em;
    text-align: justify;
    line-height: 40px;
    
}

.container-abouts {
    display: flex;
    gap: 45px;
    padding: 30px;
    font-size: 1em;
    margin-top: 15px;
}

.abouts a{
    background-color: #620062;
    border-radius: 30px;
    padding: 10px;
    color: white;
    text-decoration: none;

}

/* ------------------------Footer------------------------ */
.footer {
    height: 10vh;
    color: rgb(80, 80, 80);
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }