.delete-account {
    width: 100px;
    margin: auto;
    margin-right: 100px;

}
.delete-account input {
    width: 150px;
    background-color: red;
    padding: 15px;
    font-size: 0.9em;
    font-weight: 500;
}