.input-search {
    padding-top: 200px;
    padding-left: 50px;
}

.input-search {
    padding: 20px;
    width: 35%;
    border-radius: 10px;
    background-color: rgb(44, 18, 44);
    text-align: center;
    border: none;
    font-size: 1.2em;
    font-weight: bold;
  }

  .input-search label {
    color: rgb(255, 255, 255);

  }
  
  .input-search input:focus {
    box-shadow: 0px 0px 10px rgb(44, 18, 44);
    outline: none
  }