.input-search {
    padding-top: 200px;
    padding-left: 50px;
}

.input-search {
    width: 80%;
    margin: auto;
    border-radius: 10px;
    text-align: center;
    border: none;
    font-size: 1.2em;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  .input-search-single {
    width: 40%;
    border: 2px solid rebeccapurple;
    padding: 20px;
    background-color: rgb(251, 240, 251);

  }

  .autocomplete {
    margin-bottom: 30px;
    margin-top: 30px;
  }


  .input-search-single a {
    text-decoration: none;
    border: 1px solid white;
    background-color: rgb(245, 195, 245);
    border-radius: 10px;
    padding: 10px;
    color: rebeccapurple;
  }

  .input-search label {
    color: rgb(19, 15, 15);
    font-family: 'Courier New', Courier, monospace;

  }
  
  .input-search input:focus {
    box-shadow: 0px 0px 10px rgb(44, 18, 44);
    outline: none
  }


