.messages-area {
    width: 700px;
    margin: auto;
    margin-bottom: 50px;
    
}

.message {
    padding: 20px;
    border: 1px solid black;
    height: 150px; 
    overflow: scroll;

}

.msger-inputarea {
    border: 1px solid black; 
    padding: 20px;
    border-top: none;
}