.messages {
    width: 700px;
    margin: auto;
    border: 1px solid black;
    padding: 20px;
    height: 500px;
}

.msger-inputarea {
    border: 1px solid black;
    padding: 20px;
    border-top: none;
}