.messages-area {
    margin: auto;
    margin-bottom: 50px;
    width: 50%;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 30px
}

.messages-area h2 {
    padding: 20px;
    text-align: center;
}

.message {
    padding: 20px;
    overflow-y: scroll;
    height: 300px;
}
.one-message {
    padding: 10px;

}

.msg-text {
    padding: 20px;
}

.msg-text p{
    width: 200px;
}
.msger-inputarea {
    border: 1px solid black; 
    padding: 20px;
    border-top: none;
}

.one-message:nth-child(odd) {
    background-color: rgb(196, 245, 248);
}

.one-message:nth-child(even) {
    background-color: rgb(243, 183, 250);
}