.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1.1em 1.1em 0em 1.1em;
    align-items: center;
}
.navbar a {
    margin-left: 1.5em;
    padding: 0.5em;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    color: #214778;
    font-size: 1.1em;
}
.navbar a:hover {
    color: #214778;
}
.navbar img {
    width: 100px;
}
.buttons-navbar a:nth-child(2),
.buttons-navbar a:nth-child(3) {
    border: 2px solid #214778;
    background-color: white;
}