.card {
    width: 400px;
    background-color: white;
    padding: 15px;
}

.card img {
    width: 350px;
}

.card .description-cardProfile {
   margin-top: 10px;
}

.name {
    font-size: 1.5em;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}
.city {
    font-style: italic;
}

.languages {
    display: flex;
    padding: 5px 0px;
    
}
.languages div {
    background-color: rgb(104, 208, 216);
    padding: 5px;
    border-radius: 30px;
    color: black;
    margin-right: 10px;
    font-size: 0.7em;
}

.interests {
    display: flex;
    padding: 5px 0px;
    
}
.interests div {
    background-color: rgb(203, 108, 216);
    padding: 5px;
    border-radius: 30px;
    color: black;
    margin-right: 10px;
    font-size: 0.7em;
}

.other_Details {
  text-align: justify;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 0.8em;
  padding: 10px 5px;
}

.card a {
    border: 2px solid purple;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-size: 0.8em;
    padding: 3px;
}

.card a:hover {
    background-color: rgb(253, 226, 253);
    border: 2px solid rgb(250, 182, 250);
}

.card a:focus {
    background-color: rgb(78, 20, 78);
    color: white;
    border: none;
}
