.choose-option {
    display: flex;
    justify-content: space-around;
    font-weight: bold;
}
.choose-option div {
    padding: 20px 0px;
}

.select-options {
  padding: 5px 0px 15px 0px;
  display: flex;
  font-weight: bold;
}
.choose-option div input {
    margin-right: 10px;
}

.register-form {
    width: 50%;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 30px
}

.register-form .inputs-form label,
.register-form .inputs-form input {
  width: 100%;
}
 
.inputs-form input {
  padding: 7px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 0;
  background-color: rgb(236, 236, 236);
  outline: none;
}

.inputs-form textarea {
  padding: 7px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 0;
  background-color: rgb(236, 236, 236);
  outline: none;
  width: 100%;
  height: 200px;
  resize: none;
}


.inputs-form input:focus {
  /* box-shadow: 0px 0px 10px rebeccapurple;
  outline: none; */
  background-color: rgb(163, 164, 223);
}

.inputs-form input:focus::placeholder {
  color: rgb(126, 126, 128);
}



.register-form button {
    width: 100%;
    background-color: #214778;
    padding: 7px;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 0;
}

.register-form a {
    text-decoration: none;
    color: #214778;
    font-weight: bold;
    padding-right: 25px;
  }



