.login-form {
    width: 60%;
    margin: auto;
    background-color: white;
    padding: 20px;
    border-radius: 30px
}

.login-form h2 {
  padding-bottom: 20px;
}

.login-form .inputs-form label,
.login-form .inputs-form input {  
  width: 100%;
}
 
.inputs-form input {
  padding: 7px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 0;
  background-color: rgb(236, 236, 236);
  outline: none;
}


.inputs-form input:focus {
  /* box-shadow: 0px 0px 10px rebeccapurple;
  outline: none; */
  background-color: rgb(235, 207, 240);
}

.login-form button {
    width: 100%;
    background-color: rebeccapurple;
    padding: 7px;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 10px;
    border: 0;
}

.login-form a {
    text-decoration: none;
    color: rgb(156, 67, 245);
    font-weight: bold;
    padding-right: 25px;
  }


