.input-search form {
    padding-top: 200px;
    padding-left: 50px;
}

.input-search input{
    padding: 10px;
    width: 35%;
    border-radius: 10px;
    color: rgb(44, 18, 44);
    /* font-size: 0.9em; */
    text-align: center;
  }
  
  .input-search input:focus {
    box-shadow: 0px 0px 10px rgb(44, 18, 44);
    outline: none
  }